<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bet management</title>

    <script type="text/javascript"
            src="webjars/jquery/2.2.3/jquery.min.js"></script>
    <script type="text/javascript"
            src="webjars/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>
    <script src="https://kit.fontawesome.com/2c432b3229.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link th:href="@{/styles/main.css}" rel="stylesheet"/>

</head>

<body th:style="'background-image:url(' + @{/images/logo2.jpg} + '); background-repeat: no-repeat;   background-attachment: fixed; background-position: center;'">

<div th:replace="header :: header">&nbsp;</div>


<div align="center" class="container my-2 mt-5">

    <div class="card" style="width: 50%;" th:if="${#lists.isEmpty(statPoints)}">
        <img class="card-img-top" th:src="@{/images/waiting.jpg}" alt="Card image cap">
        <div class="card-body bg-light">
            <h3 class="card-text font-weight-bold">You don't have any points!</h3>
        </div>
    </div>

    <div th:unless="${#lists.isEmpty(statPoints)}">
        <table class="table table-responsive-md">
            <thead>
            <tr>
                <th>
                    <a>Friend Name</a>
                </th>
                <th>
                    <a>Your Points</a>
                </th>
                <th>
                    <a>Friend Points</a>
                </th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="stat : ${statPoints}">

                <div th:if="${stat.user.id} == ${currentUser.id}">
                    <td th:text="${stat.friend.firstName} + ' ' + ${stat.friend.lastName}"></td>
                    <td th:text="${stat.points}"></td>
                    <td th:text="${stat.friendPoints}"></td>
                </div>

                <div th:if="${stat.friend.id} == ${currentUser.id}">
                    <td th:text="${stat.user.firstName} + ' ' +  ${stat.user.lastName}"></td>
                    <td th:text="${stat.friendPoints}"></td>
                    <td th:text="${stat.points}"></td>
                </div>

            </tr>
            </tbody>
        </table>

        <nav aria-label="Page Navigation">
            <ul class="pagination pagination-circle justify-content-center">

                <li class="page-item " th:unless="${currentPage > 1}">
                    <a class="page-link">First</a>
                </li>
                <li class="page-item" th:if="${currentPage > 1}">
                    <a class="page-link"
                       th:href="@{'/points/pointPage/' + ${1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
                </li>

                <li class="page-item " th:unless="${currentPage > 1}">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item" th:if="${currentPage > 1}">
                    <a class="page-link"
                       th:href="@{'/points/pointPage/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
                </li>

                <li class="page-item active">
                    <a class="page-link">[[${currentPage}]]</a>
                </li>

                <li class="page-item " th:unless="${currentPage < totalPages}">
                    <a class="page-link">Next</a>
                </li>
                <li class="page-item" th:if="${currentPage < totalPages}">
                    <a class="page-link"
                       th:href="@{'/points/pointPage/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                </li>

                <li class="page-item " th:unless="${currentPage < totalPages}">
                    <a class="page-link">Last</a>
                </li>
                <li class="page-item" th:if="${currentPage < totalPages}">
                    <a class="page-link"
                       th:href="@{'/points/pointPage/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                </li>

            </ul>
        </nav>

    </div>
</div>

<div th:replace="footer :: footer">&nbsp;</div>


</body>
</html>